<div class="card">
    <div class="card-header bg-white">
      <h5 class="text-danger">
        <app-filter [all]="getTotalEmployeesCount()" [male]="getMaleEmployeesCount()" [female]="getFemaleEmployeesCount()" (countRadioButtonSelectionChanged)="onEmployeeCountRadioButtonChange($event)"></app-filter>
      </h5>

    </div>
    <div class="card-body">
      <table class="table table-bordered table-sm">
        <thead class="table-secondary">
          <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>DOJ</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let emp of employees; let i = index">
              <tr *ngIf="selectedEmployeeCountRadioButton == 'All' || selectedEmployeeCountRadioButton == emp.gender">
                  <td>{{i+1}}</td>
                  <td>{{emp.firstName}}</td>
                  <td>{{emp.lastName}}</td>
                  <td>{{emp.gender}}</td>
                  <td>{{emp.doj}}</td>
                  <td>{{emp.email}}</td>
                  <td>{{emp.mobile}}</td>
                  <td>{{emp.salary}}</td>
                </tr>
          </ng-container>
          <ng-template #noData>
              <tr>
                  <td colspan="8" class="text-danger">No data found</td>
              </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>